---
import Section from "@/components/Section.astro";

import { personal } from "@resume";

const { about } = personal;
---

<Section title="Sobre mí">
  <p>{about}</p>
</Section>

<style>
  @media (width <= 700px) {
    p {
      font-size: 0.9rem;
    }
  }
</style>
