---
const { currentLocale } = Astro;

import Section from "@/components/Section.astro";

import { getI18n } from "@/i18n";

const $t = getI18n(currentLocale);

const title = currentLocale === "es" ? "Sobre mí" : "About me";
---

<Section title={title}>
  <p class="text-lg font-normal font-mono">{$t("personal.about")}</p>
</Section>
