---
const { currentLocale } = Astro;

import Section from "@/components/Section.astro";
import Paragraph from "@/components/Paragraph.astro";

import { getI18n } from "@/i18n";

const $t = getI18n(currentLocale);
const years = new Date().getFullYear() - 2018;
---

<Section>
  <Paragraph text={`+ ${years} ${$t("personal.about")}`} />
</Section>
