---
import Section from "@/components/Section.astro";

import { personal } from "@resume";

const { about } = personal;
---

<Section title="Sobre mí">
  <p class="text-lg font-normal font-mono">{about}</p>
</Section>
