---
const { currentLocale } = Astro;

import Section from "@/components/Section.astro";
import Typography from "@/components/Typography.astro";
import Paragraph from "@/components/Paragraph.astro";

import { getI18n, resume } from "@/i18n";
import { formatDates } from "@/utils";

const { education } = resume();
const $t = getI18n(currentLocale);

const title = currentLocale === "es" ? "Educación" : "Education";
---

<Section title={title}>
  <ul class="flex flex-col gap-8">
    {
      education.map(({ startDate, endDate }, index) => {
        const dates = formatDates(startDate, endDate, currentLocale);

        return (
          <li>
            <article>
              <header class="flex justify-between items-start mb-1">
                <div>
                  <Typography
                    variant="h3"
                    title={`${$t("education", index, "institution")}`}
                  />
                </div>
                <time class="no-print min-w-32 flex justify-end text-base text-[#555] mt-2">
                  {dates}
                </time>
                <time class="print min-w-32 flex justify-end text-sm text-[#555] mt-2">
                  {dates}
                </time>
              </header>
              <footer>
                <Paragraph text={`${$t("education", index, "area")}`} />
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
