---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Página no encontrada">
  <section style="height: 70vh;" class="flex items-center justify-center">
    <article class="flex items-center justify-center flex-col h-[90%]">
      <h1 class="text-base font-semibold p-4">PÁGINA NO ENCONTRADA</h1>
      <a
        class="no-print text-base text-[#777] text-center border-2 border-solid border-gray-900 p-1 h-8 w-60 rounded-md cursor-pointer transition-all ease-linear hover:bg-[#eee] hover:border-[#ddd] flex items-center justify-evenly"
        href="/"
      >
        VOLVER A LA PÁGINA DE INICIO
      </a>
    </article>
  </section>
</Layout>
