---
const { title, className } = Astro.props;

import Typography from "@/components/Typography.astro";
---

<section class={`w-full mx-auto lg:w-[800px] my-5 print-force-new-page ${!!className ? className : ''}`}>
  {title && <Typography variant="h2" title={title}/>}
  <slot />
</section>
