---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<main class="p-16 m-[0_auto] w-full">
			<slot />
		</main>
	</body>
</html>

<style is:global>
	.print {
		display: none !important;
	}

	@media print {
		.no-print {
			display: none !important;
		}

		.print {
			display: block !important;
		}

		astro-dev-toolbar {
			display: none !important;
		}
	}
</style>
